<!DOCTYPE html>
<html>
	<head>
		<title>SciHigh Pass Monitor</title>

		<link rel="stylesheet"
			  href="{{ url_for('static', filename='style.css') }}">
			  
	</head>

	<body>
		
		<br />
		<br />
		<div class="user-menu">
			<span class="username">{{ username }}</span>
			<a href="{{ url_for('logout') }}" class="logout-button">
				<img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google">
				Logout
			</a>
		</div>
		
		{% if eyesOnSet %}
			<div id="eyesOnTable">
				{% with passes=eyesOnSet %}
					{% include "eyeson.html" %}
				{% endwith %}
			</div>
			<br />
			<br />

		{% endif %}
		
		<div id="allPassTable">
			{% with passes=fullSet, show_delete=true, show_teacher=true %}
				{% include "pass_table.html" %}
			{% endwith %}
		</div>


	</body>
	<script>
		function updateRowColors() {
			const rows = document.querySelectorAll("tbody tr");

			rows.forEach(row => {
				const created = new Date(row.dataset.created);
				const now = new Date();

				const ageMinutes = (now - created) / 60000;

				row.classList.remove("expired-yellow", "expired-red");

				if (ageMinutes >= 10) {
					row.classList.add("expired-red");
				}
				else if (ageMinutes >= 5) {
					row.classList.add("expired-yellow");
				}
			});
		}


		function refreshTables() {

			fetch("/get_all_passes/true?next=monitor")
				.then(response => response.text())
				.then(data => {
					document.getElementById("allPassTable").innerHTML = data;
					updateRowColors();
				})
				.catch(error => {
					console.error("Error refreshing passes:", error);
				});
		}


		// Run once when page loads
		updateRowColors();
		
		// Refresh colors every 5 seconds
		setInterval(updateRowColors, 5000);

		// Refresh every 30 seconds
		setInterval(refreshTables, 30000);
	</script>
</html>