<!DOCTYPE html>
<html>
	<head>
		<title>SciHigh Pass Monitor</title>

		<link rel="stylesheet"
			  href="{{ url_for('static', filename='style.css') }}">
			  
	</head>

	<body>
		
		<br />
		<br />
		<div class="user-menu">
			<span class="username">{{ username }}</span>
			<a href="{{ url_for('logout') }}" class="logout-button">
				<img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google">
				Logout
			</a>
		</div>
		
		<div id="allPassTable">
			{% with passes=fullSet, show_delete=true, show_teacher=true %}
				{% include "pass_table.html" %}
			{% endwith %}
		</div>


	</body>
	<script>
		function updateRowColors() {
			const rows = document.querySelectorAll("tbody tr");

			rows.forEach(row => {
				const created = new Date(row.dataset.created);
				const now = new Date();

				const ageMinutes = (now - created) / 60000;

				row.classList.remove("expired-yellow", "expired-red");

				if (ageMinutes >= 12) {
					row.classList.add("expired-red");
				}
				else if (ageMinutes >= 7) {
					row.classList.add("expired-yellow");
				}
			});
		}


		function refreshTables() {

			fetch("/get_all_passes/true")
				.then(response => response.text())
				.then(data => {
					document.getElementById("allPassTable").innerHTML = data;
					updateRowColors();
				});
		}


		// Run once when page loads
		updateRowColors();

		// Refresh every 15 seconds
		setInterval(refreshTables, 5000);
	</script>
</html>